body{
    font-family: Helvetica, serif;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
}
h1, h2{
    color: #EDF2F4;
}

.education{
    padding: 30px;
    background-color: #8D99AE;
}
header{
    padding: 30px;
    color: #8D99AE;
    background-color: #2B2D42;
    margin-bottom: 10px;
}
footer{
    padding: 30px;
    color: #8D99AE;
    background-color: #2B2D42;
    margin-top: 10px;
}
a{
    color: #EF233C;
}