body > a{
    background-image : url("https://www.bing.com/th/id/OIP.VGQ8f32vNtczrVbTfR7kRQHaHa?w=185&h=211&c=8&rs=1&qlt=90&o=6&cb=ucfimgc1&dpr=2&pid=3.1&rm=2");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;

    font-size: 5em;
    padding-left: 100px;
}