table {
    border: 4px solid black;
    border-spacing: 0;
    max-width: 400px;
}
thead {
    background-color: rgb(170, 170, 200);
}
td {
    border: 1px dotted black;
    font-size: 16px;
}

.vrijeDag {
    background-color: rgb(250, 120, 120);
}
.dag {
    color: rgb(200, 190, 240);
    background-color: rgb(35, 37, 70);
    font-size: 18px;
}
.grijs {
    background-color: grey;
    text-decoration: grey;
    font-size: 20px;
}
.weekend {
    background-color: rgb(255, 220, 220);
    font-size: 18px;
}