.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 3px solid #36752D; border-radius: 20px; }
.datagrid table td, .datagrid table th { padding: 20px 10px; }
.datagrid table thead th {background:#36752D;color:#FFFFFF; font-size: 18px; font-weight: bold; border-left: 10px solid #36752D; }
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #275420; border-left: 10px solid #C6FFC2;font-size: 20px; }
.datagrid table tbody .alt td { background: #DFFFDE; }
.datagrid table tbody td:first-child { border-left: none; }