body{
    width: 95%;
    margin: 0 auto;
    font-size: 1.2em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.container{
    display: flex;
    gap: 20px;
}

.left-column {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #007e7e;
    font-size: 150%;
}

h2{
    color: #007e7e;
    font-size: 130%;
}

.box {
    margin: 30px;
    padding: 20px;
    color: #444444;
    background-color: #a7cece;
    border: 2px dotted white;

    display: flex;
    align-items: center;

}

.box-img {
    width: 50px;
    height: auto;
    margin-top: -30px;
    margin-left: -20px;
}

.text-block {
    display: inline;
    font-style: italic;
}

a{
    color: brown;
}
a:hover{
    color: #8B4513;
}

.inside-article {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #007e7e;
    background-image: url("../images/cocktail.gif");
    background-repeat: repeat-x;
    text-align:center;
    box-sizing: border-box;
    color: #444444;

}

.inside-article h1{
    color: #0066cc;
    font-size: 150%
}

.inside-article .h2-LemonBreeze{
    color: #FFD700;
    font-size: 130%;
}

.inside-article .h2-ChaiChiller{
    color: saddlebrown;
    font-size: 130%;
}

.inside-article .h2-BlackBrainBrew{
    color: black;
    font-size: 130%;
}

footer{
    font-size: 0.6em;
    text-align: center;
}