body{
    font-size: 1.25em;
    margin: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

.flightleft{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
}

.flightleft-img{
    float: left;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.flightleft::after{
    content: "";
    display: block;
    clear: both;
}

.flightright{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
}

.flightright-img{
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.flightright::after{
    content: "";
    display: block;
    clear: both;
}